@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
--primary-color: #EDC3AB ;
--secondary-color: #F68888;
--tertiary-color: #D9C9B1;
--primary-txt: #000;
--hovercolor: #EFAE89;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}